body {
 background-image: url("http://cdn.smosh.com/sites/default/files/legacy.images/smosh-pit/022011/spongebob-gif-spengbab-o.gif");
 
 }
 
 p, h1, h2 {
 font-family: Comic Sans MS;
 color: white;
 
 }